* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******************************** Estilos para el Navbar *********************************/
.navbar {
  background-color: #333;
}

.navbar-brand {
  font-size: 25px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.notificacion {
  background-color: rgb(179, 255, 0);
  color: #020202;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.container {
  align-items: center;
}

img {
  margin-right: 10px;
}


/********************************** Estilos para las tarjetas **********************************/
.Card {
  flex: 0 0 calc(33.33% - 20px); /* Tamaño con margen para los productos */
  max-width: calc(33.33% - 20px);
  margin: 10px; /* Margen entre las tarjetas */
  border: 1px solid #ddd; /* Borde para mayor claridad */
  padding: 15px; /* Relleno para dar espacio a los contenidos internos */
  box-sizing: border-box; /* Incluir el borde y relleno en el tamaño total */
  text-align: center; /* Centrar el contenido horizontalmente */
}

.ItemImg {
  width: 100%; /* Asegura que todas las imágenes tengan el mismo ancho */
  height: auto; /* Mantiene la proporción de aspecto */
  margin-bottom: 10px; /* Espacio entre la imagen y el contenido de la tarjeta */
}

.ItemHeader {
  margin: 0;
}

.card-text {
  margin: 0;
}